.brandLogo {
    padding: 6px 17px;
    background: #707070 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    border-radius: 50%;
    display: inline;
    margin-right: 15px;
}

.brandName {
    text-align: left;
    color: #707070;
    font-size: 18px;
    opacity: 1;
    cursor: pointer;
    font-weight: 900;
    margin-top: 2px;
}

.searchImg {
    position: absolute;
    right: 26px;
    width: 15px;
    cursor: pointer;
}


.myCart {
    width: 25px;
    display: block;
    margin-left: auto;
    cursor: pointer;
    margin-right: auto;
}

.navbarBrandArea {
    cursor: pointer;
    margin-right: 1.5rem !important;
}


@media only screen and (max-width: 768px) {
    .myCartArea {
        padding-left: 3em;
        margin: 1em 0;

    }

    .navbarBrandArea {
        width: 100%;
        cursor: pointer;
    }
}

.badge {
    position: absolute;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    margin-left: 14px;
    top: 12px;
    -webkit-border-radius: 9999px;
    border-radius: 9999px;
    padding: 0.18rem 0.6rem;
    color: rgb(255, 255, 255);
    font-size: 0.5rem;
    font-family: sans-serif;
    vertical-align: text-bottom;
    background-color: rgb(255, 85, 85);
}


.userDropdown::after {
    display: none;
}

.myCartArea {
    /*            position: absolute;*/
    /*right: 6.5rem;*/
}

.myCartArea svg:hover {
    fill: #fd6363;
    transition: all 0.4s ease-in-out ;

}