@import "~react-vis/dist/style.css";

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-MediumItalic.eot');
    src: local('Larsseit Medium Italic'), local('Larsseit-MediumItalic'),
    url('./fonts/larsseit/Larsseit-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-MediumItalic.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-MediumItalic.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-Thin.eot');
    src: local('Larsseit Thin'), local('Larsseit-Thin'),
    url('./fonts/larsseit/Larsseit-Thin.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-Thin.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-Thin.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-LightItalic.eot');
    src: local('Larsseit Light Italic'), local('Larsseit-LightItalic'),
    url('./fonts/larsseit/Larsseit-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-LightItalic.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-LightItalic.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit.eot');
    src: local('Larsseit'),
    url('./fonts/larsseit/Larsseit.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit.woff') format('woff'),
    url('./fonts/larsseit/Larsseit.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-ExtraBold.eot');
    src: local('Larsseit ExtraBold'), local('Larsseit-ExtraBold'),
    url('./fonts/larsseit/Larsseit-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-ExtraBold.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-ExtraBold.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-BoldItalic.eot');
    src: local('Larsseit Bold Italic'), local('Larsseit-BoldItalic'),
    url('./fonts/larsseit/Larsseit-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-BoldItalic.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-BoldItalic.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-Light.eot');
    src: local('Larsseit Light'), local('Larsseit-Light'),
    url('./fonts/larsseit/Larsseit-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-Light.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-Light.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-Bold.eot');
    src: local('Larsseit Bold'), local('Larsseit-Bold'),
    url('./fonts/larsseit/Larsseit-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-Bold.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-Bold.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-Italic.eot');
    src: local('Larsseit Italic'), local('Larsseit-Italic'),
    url('./fonts/larsseit/Larsseit-Italic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-Italic.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-Italic.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-Medium.eot');
    src: local('Larsseit Medium'), local('Larsseit-Medium'),
    url('./fonts/larsseit/Larsseit-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-Medium.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-Medium.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-ExtraBoldItalic.eot');
    src: local('Larsseit ExtraBold Italic'), local('Larsseit-ExtraBoldItalic'),
    url('./fonts/larsseit/Larsseit-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-ExtraBoldItalic.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-ExtraBoldItalic.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./fonts/larsseit/Larsseit-ThinItalic.eot');
    src: local('Larsseit Thin Italic'), local('Larsseit-ThinItalic'),
    url('./fonts/larsseit/Larsseit-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('./fonts/larsseit/Larsseit-ThinItalic.woff2') format('woff2'),
    url('./fonts/larsseit/Larsseit-ThinItalic.woff') format('woff'),
    url('./fonts/larsseit/Larsseit-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

.font-weight-thin {
    font-family: "Larsseit Thin", sans-serif;
}

.bg-danger,
.badge-danger,
.btn-danger {
    background-color: #ff5555 !important;
}

.alert-light-success {
    background-color: #B6FAB1;
    border: 1px solid #0db18e;
}

.alert-light-danger {
    background-color: #ffabab;
    border: 1px solid #ff5555;
}

.text-danger {
    color: #ff5555 !important;
}

.font-weight-light {
    font-family: "Larsseit Light", sans-serif !important;
}

.font-weight-normal {
    font-family: "Larsseit", sans-serif;
}

.font-weight-bolder {
    font-family: "Larsseit ExtraBold", sans-serif;
}

.font-weight-bold {
    letter-spacing: .5px;
}


.cursor-pointer{
  cursor: pointer;
}

.page {
    background-color: #F5F5F5;
}

.__nav-link {
    transition: .2s;
}

.__nav-link:hover {
    background-color: #eeeeee;
    border: none;
}

.__nav-link.active {
    background-color: #FFDBDB;
    border: none;
}

.__active-nav-link svg path:nth-child(2) {
    fill: white
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Nunito", sans-serif;
}
.numan {
  font-family: "Numans", sans-serif;
}

.mt-10 {
  margin-top: 8rem;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.green-btn {
  background-color: #006285;
  text-align: center;
  font-size: 13px;
  color: #fff !important;
}

/* Navbar */
.normal {
  color: #000000 !important;
  margin-right: 20px !important;
}

.navbar-nav {
  /* margin-left: 10em; */
  font-size: 15px;
}

/* End of Navbar */

.offer-md {
  font-weight: 600;
  font-size: 17px;
}
.offer-sm {
  font-size: 15px;
}

.bg-gray {
  background-color: #f9f9f9;
}

.team .card {
  border: none;
}

.team .card-body {
  padding: 0 0 0 0 !important;
}

.event {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .about-us-content {
    width: 45%;
  }
  .about-us-img {
    width: 45%;
  }
  .testimonial-card {
    width: 40%;
  }

  .contact-part {
    width: 45% !important;
  }

  .hero_btn {
    width: 25%;
  }
}

