html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Nunito", sans-serif;
}
.numan {
  font-family: "Numans", sans-serif;
}

.mt-10 {
  margin-top: 8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.green-btn {
  background-color: #006285;
  text-align: center;
  font-size: 13px;
  color: #fff !important;
}

/* Navbar */
.normal {
  color: #000000 !important;
  margin-right: 20px !important;
}

.navbar-nav {
  /* margin-left: 10em; */
  font-size: 15px;
}

/* End of Navbar */

.offer-md {
  font-weight: 600;
  font-size: 17px;
}
.offer-sm {
  font-size: 15px;
}

.bg-gray {
  background-color: #f9f9f9;
}

.team .card {
  border: none;
}

.team .card-body {
  padding: 0 0 0 0 !important;
}

.event {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .about-us-content {
    width: 45%;
  }
  .about-us-img {
    width: 45%;
  }
  .testimonial-card {
    width: 40%;
  }

  .contact-part {
    width: 45% !important;
  }

  .hero_btn {
    width: 25%;
  }

  .notifications {
    width: 75%;
  }
}

/* More styles */
.more {
  right: 2em;
  top: 40%;
  font-size: 12px;
  cursor: pointer;
  color: #363636af;
}
/* More styles end */
